
.left{
    background-color: rgb(219, 154, 70);
    height: 700px;
    width: 30%;
   float: left;
}
.right{
    background-color: rgb(70, 105, 219);
    height: 700px;
    width: 60%;
   float: right;
}